.post-view {
  padding-top: 105px;

  .block-title {
    margin-bottom: 24px;
    font-size: 50px;
  }

  .poster {
    margin-bottom: 26px;

    img {
      border-radius: 10px;
      height: 650px;
      object-fit: cover;
    }
  }

  .post-header {
    width: 100%;
    margin-bottom: 26px;
  }

  .post-content {
    margin-bottom: 60px;

    h3, h4, h5, h6 {
      font-size: 44px;
      font-family: var(--secondary-font);
    }

    .ql-align-right {
      text-align: right;
    }

    .ql-align-center {
      text-align: center;
    }

    .ql-video {
      max-width: 900px;
      height: 500px;
      width: 100%;

      @media only screen and (max-width: 991px) {
        height: 350px;
      }

      @media only screen and (max-width: 640px) {
        height: 250px;
      }
    }
  }
}