.post-image {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    height: 650px;

    @media only screen and (max-width: 640px) {
      height: 350px;
    }
  }
}

.image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
}

.post-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: hsla(0, 0%, 98%, 0.15);
  background-attachment: fixed;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.post-overlay:hover {
  opacity: 1;
}
