:root {
  --main-font: "Raleway", sans-serif;
  --secondary-font: "Cormorant Infant", serif;
  --main-font-size: 16px;

  //--main-color: #879D73FF;
  --main-color: #0E0E0EFF;
  --secondary-color: #fff;
  --fill-color: #a9b7ba;
  --hover-color: #8a989a;

}
