.intro-block {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  .intro-cols {
    display: flex;
  }

  .col.text {
    border: 1px solid var(--main-color);
    width: calc(100% - 500px - 45px);
    border-radius: 12px;
    margin-right: 45px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    position: relative;
  }

  .col.image {
    width: 500px;
    border-radius: 12px;
    overflow: hidden;
  }

  .block-title {
    color: var(--main-color);
  }

  .motto {
    color: var(--main-color);
  }

  .make-appointment {
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: var(--fill-color);
    color: var(--secondary-color);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 60px;
    bottom: 100px;
    transition: all .3s;

    &:hover {
      filter: brightness(90%);
    }
  }
}