.site-footer {
  padding: 60px 0;
  position: relative;

  @media only screen and (max-width: 767px) {
    padding: 60px 0 80px;
  }

  .footer-question {
    @media only screen and (max-width: 991px) {
      font-size: 52px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 32px;
      margin-bottom: 26px;
      width: 100%;
      text-align: center;
    }
  }

  .make-appointment {
    width: 250px;
    height: 250px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s;
    margin: 0;

    &:hover {
      filter: brightness(90%);
    }

    @media only screen and (max-width: 991px) {
      width: 150px;
      height: 150px;
    }

    @media only screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }

  .copyrights {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;

    .container {
      justify-content: flex-start;
    }

    span {
      margin-left: 6px;
      @media only screen and (max-width: 767px) {
        display: block;
        width: 100%;
        margin-top: 6px;
        margin-left: 0;
      }
    }
  }
}