.blog-post {
  img {
    height: 650px;

    @media only screen and (max-width: 640px) {
      height: 350px;
    }
  }

  .post-title {
    @media only screen and (max-width: 640px) {
      width: 100%;
    }
  }
}