.feature-wrap {
  width: 33.33%;
  margin-bottom: 54px;

  @media only screen and (max-width: 991px) {
    width: 50%;
  }

  @media only screen and (max-width: 640px) {
    width: 100%;
  }
}

.feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-billet {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;

  .bg-block {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .billet-content {
    will-change: transform, background-color;
    transition: transform .3s, background-color .3s;
    color: var(--secondary-color);
    width: 100%;
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    position: relative;
    z-index: 5;
  }
}

.feature-billet:hover {
  .billet-content {
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(0);
  }
}

.feature-teaser {
  width: 100%;
  text-align: center;
}