.intro-block {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media only screen and (max-width: 1150px) {
    //padding-top: 60px;
    min-height: initial;
    padding-bottom: 40px;
  }

  .intro-cols {
    display: flex;

    @media only screen and (max-width: 991px) {
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
  }

  .col.text {
    border: 1px solid var(--main-color);
    width: calc(55% - 45px);
    border-radius: 12px;
    margin-right: 45px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    position: relative;

    @media only screen and (max-width: 1150px) {
      width: calc(60% - 25px);
      margin-right: 25px;
    }

    @media only screen and (max-width: 991px) {
      width: 100%;
      max-width: 650px;
      order: 2;
      margin: 0 auto;
    }

    @media only screen and (max-width: 640px) {
      padding: 20px;
    }
  }

  .col.image {
    width: 45%;
    border-radius: 12px;
    overflow: hidden;

    @media only screen and (max-width: 1150px) {
      width: 40%;
    }

    @media only screen and (max-width: 991px) {
      width: 100%;
      max-width: 650px;
      height: 500px;
      margin: 0 auto 24px;
    }

    img {
      object-fit: cover;

      @media only screen and (max-width: 991px) {
        object-position: top;
      }
    }
  }

  .block-title {
    color: var(--main-color);

    @media only screen and (max-width: 1150px) {
      font-size: 56px;
    }

    @media only screen and (max-width: 1060px) {
      font-size: 52px;
    }

    @media only screen and (max-width: 640px) {
      font-size: 34px;
    }
  }

  .motto {
    color: var(--main-color);

    @media only screen and (max-width: 991px) {
      margin-bottom: 40px;
    }
  }

  .make-appointment {
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: var(--fill-color);
    color: var(--secondary-color);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 60px;
    bottom: 100px;
    transition: background-color .3s;

    &:hover {
      background-color: var(--hover-color);
    }

    @media only screen and (max-width: 1100px) {
      width: 200px;
      height: 200px;
    }

    @media only screen and (max-width: 991px) {
      position: relative;
      bottom: initial;
      right: initial;
    }

  }
}